* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
body .container {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  margin-top: 50px;
}

.head-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}
.head-bottom .head-left {
  display: flex;
  align-items: center;
}
.head-bottom .head-left nav ul {
  display: flex;
  padding: 0 40px;
}
.head-bottom .head-left nav ul li {
  margin-right: 30px;
}
.head-bottom .head-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.head-bottom .head-right .banking {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #FFC628;
  padding: 18px 25px;
  border-radius: 30px;
}
.head-bottom .head-right .menu-toggle {
  text-align: center;
  padding: 16px 19px;
  color: gray;
  border: 1px solid gray;
  border-radius: 50%;
}

.stories .stories-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.stories .stories-heading h5 {
  font-size: 20px;
}
.stories .stories-heading span {
  color: #fff;
  background-color: #FFC628;
  padding: 6px 10px;
  border-radius: 50%;
}
.stories .stories-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.stories .stories-wrapper .story {
  max-width: 33.3333%;
  border-radius: 10px;
  display: flex;
  height: 140px;
}
.stories .stories-wrapper .story .story-desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 0 25px;
  max-width: 200px;
  line-height: 0.5;
}
.stories .stories-wrapper .story .story-desc span {
  display: inline-block;
  max-width: 75px;
  background-color: #fff;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
.stories .stories-wrapper .story .story-desc b {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  margin-top: 10px;
  line-height: 1.5;
}
.stories .stories-wrapper .story .bg-story {
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9999;
  width: 160px;
  height: 100%;
}
.stories .stories-wrapper .green {
  background-color: #81bd5b;
}
.stories .stories-wrapper .green span {
  color: #81bd5b;
}
.stories .blue {
  background-color: #0071c7;
}
.stories .blue span {
  color: #0071c7;
}
.stories .red {
  background-color: #d82a34;
}
.stories .red span {
  color: #d82a34;
}

.yelo-calculator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.yelo-calculator .light {
  width: 50%;
  background-color: #F3F1F7;
  border: 1px solid #ececec;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yelo-calculator .light .light-desc {
  width: 50%;
  line-height: 2.5;
}
.yelo-calculator .light .light-desc h2 {
  font-size: 22px;
}
.yelo-calculator .light .light-desc p {
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 14px;
}
.yelo-calculator .light .light-desc .cashback {
  display: flex;
  gap: 20px;
}
.yelo-calculator .light .light-desc .cashback .cash b {
  font-size: 20px;
  font-weight: 600;
}
.yelo-calculator .light .light-desc button {
  background: #FFC628;
  border: none;
  border-radius: 10px;
  padding: 13px 25px;
  width: 200px;
  height: 55px;
  font-size: 17px;
}
.yelo-calculator .light .light-bg {
  width: 190px;
  height: 300px;
  background-position: center;
  background-size: cover;
}
.yelo-calculator .calculator {
  width: 50%;
  border: 1px solid #ececec;
  border-radius: 10px;
  padding: 30px;
}
.yelo-calculator .calculator .calc-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yelo-calculator .calculator .calc-heading h2 {
  font-size: 22px;
}
.yelo-calculator .calculator .calc-heading .details {
  color: #0071c7;
}
.yelo-calculator .calculator .calc-heading .details a {
  color: #0071c7;
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
}
.yelo-calculator .calculator .range-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  border: 1px solid #ececec;
  border-radius: 10px;
}
.yelo-calculator .calculator .range-wrapper .range-box {
  border-right: 1px solid #ececec;
  padding: 10px 10px 0 10px;
}
.yelo-calculator .calculator .range-wrapper .range-box span {
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 14px;
}
.yelo-calculator .calculator .range-wrapper .range-box .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 10px;
}
.yelo-calculator .calculator .range-wrapper .range-box .price p {
  font-size: 20px;
  font-weight: 600;
}
.yelo-calculator .calculator .range-wrapper .range-box .price span {
  font-size: 14px;
  font-weight: 600;
}
.yelo-calculator .calculator .range-wrapper .range-box input {
  accent-color: #FFC628;
  border: none;
  outline: none;
}
.yelo-calculator .calculator .amount-order {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 40px;
}
.yelo-calculator .calculator .amount-order .amount {
  margin-right: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.yelo-calculator .calculator .amount-order .amount span {
  color: rgba(0, 0, 0, 0.5019607843);
}
.yelo-calculator .calculator .amount-order .amount p {
  font-size: 20px;
  font-weight: 600;
}
.yelo-calculator .calculator .amount-order .order button {
  background: #FFC628;
  border: none;
  border-radius: 10px;
  padding: 13px 25px;
  width: 180px;
  height: 55px;
  font-size: 17px;
  font-weight: 600;
}

.useful {
  margin-bottom: 50px;
}
.useful .useful-header {
  margin-bottom: 20px;
}
.useful .useful-header b {
  font-size: 22px;
}
.useful .useful-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}
.useful .useful-wrapper .yelo-app {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border: 1px solid #ececec;
  border-radius: 10px;
  height: 100%;
  width: 66.6666%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  position: relative;
}
.useful .useful-wrapper .yelo-app .app-desc {
  width: 50%;
  padding: 45px;
  height: 100%;
  line-height: 1.8;
}
.useful .useful-wrapper .yelo-app .app-desc h2 {
  font-size: 28px;
}
.useful .useful-wrapper .yelo-app .app-desc p {
  color: rgba(0, 0, 0, 0.5019607843);
}
.useful .useful-wrapper .yelo-app .app-img {
  width: 50%;
  height: 115%;
  overflow: hidden;
  bottom: 0px;
  right: 30px;
  position: absolute;
}
.useful .useful-wrapper .yelo-app .app-img .app-phone {
  width: 100%;
  height: 100%;
  background-image: url(/public/assets/bg-app-phone.webp);
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  z-index: 99999;
  top: 0px;
  left: 0px;
  position: absolute;
}
.useful .useful-wrapper .yelo-app .app-img .bg-app-phone {
  width: 250px;
  height: 375px;
  background-size: cover;
  position: absolute;
  left: 95px;
  bottom: 0;
  z-index: 9999999;
}
.useful .currency-wrapper {
  border: 1px solid #ececec;
  border-radius: 10px;
  width: 33.3333%;
  padding: 30px;
}
.useful .currency-wrapper .currency-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.useful .currency-wrapper .currency-header b {
  font-size: 22px;
}
.useful .currency-wrapper .currency-header .payment-type {
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 14px;
  cursor: pointer;
}
.useful .currency-wrapper .input-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #FFC628;
  padding-block: 8px;
}
.useful .currency-wrapper .input-line input {
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  font-size: 23px;
  font-weight: 600;
  color: #000;
}
.useful .currency-wrapper .input-line input::-webkit-outer-spin-button,
.useful .currency-wrapper .input-line input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.useful .currency-wrapper .input-line select {
  border: none;
  font-weight: 600;
}
.useful .currency-wrapper .input-line .buying {
  font-size: 23px;
  font-weight: 600;
}
.useful .currency-wrapper .input-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 25px;
}
.useful .currency-wrapper .input-result .crr-item {
  width: 33.33%;
}
.useful .currency-wrapper .input-result .crr-item p {
  padding-top: 5px;
  color: rgba(0, 0, 0, 0.5019607843);
}
.useful .currency-wrapper .input-result .crr-item b {
  padding-top: 5px;
  display: block;
}
.useful .currency-wrapper .crr-info {
  font-size: 14px;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.9019607843);
}
.useful .currency-wrapper .exchange-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ececec;
  margin: 15px -30px -30px;
  padding: 17px 30px;
  cursor: pointer;
}
.useful .currency-wrapper .exchange-rate a {
  color: #0091FE;
  font-weight: 600;
}
.useful .currency-wrapper .exchange-rate .arrow-icon {
  color: #0091FE;
}

footer nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-top: 1px solid #ececec;
  padding-block: 32px;
}
footer nav section h3 {
  padding-bottom: 16px;
  font-size: 25px;
  line-height: 1.5;
}
footer nav section ul li {
  padding-bottom: 8px;
  line-height: 1.43;
}
footer nav section ul li a {
  color: rgba(0, 0, 0, 0.5019607843);
}
footer .foot-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  padding: 15px 0;
}
footer .foot-top .social {
  display: block;
  height: 40px;
  padding: 5px 0;
}
footer .foot-top .social li {
  display: inline-block;
  margin-right: 8px;
}
footer .foot-top .social li a {
  width: 40px;
  height: 40px;
  background-color: #f3f1f7;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  border-radius: 100%;
  transition: all 0.2s;
}
footer .contact-info {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
footer .contact-info .ci-item {
  width: auto;
  line-height: 1.5;
}
footer .contact-info .ci-item p {
  color: rgba(0, 0, 0, 0.5019607843);
}
footer .contact-info .ci-item b {
  color: #000;
}
footer .contact-info .ci-item b a {
  color: #000;
  text-decoration: none;
}
footer .foot-bottom {
  padding: 30px 0 40px;
  text-align: center;
}
footer .foot-bottom .logo {
  display: inline-block;
  margin-bottom: 10px;
  width: 144px;
  height: 36px;
  background-image: url(/public/assets/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}
footer .foot-bottom ul {
  width: 100%;
}
footer .foot-bottom ul li {
  display: inline-block;
  margin-inline: 10px;
  font-size: 14px;
}
footer .foot-bottom ul li p {
  display: inline-block;
  color: rgba(0, 0, 0, 0.5019607843);
}
footer .foot-bottom ul li a {
  color: rgba(0, 0, 0, 0.5019607843);
  text-decoration: underline;
}
footer .foot-bottom .byme {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5019607843);
}
footer .foot-bottom .byme p {
  display: inline-block;
}
footer .foot-bottom .byme a {
  background-image: url(/public/assets/jis.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 22px;
  display: inline-block;
  margin-left: 9px;
  color: rgba(0, 0, 0, 0.5019607843);
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */